version: "3"
services:
  front:
    build: front/
    command: ["main:app", "--reload", "--host", "0.0.0.0"]
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./front:/work
  backend:
    build: textlint/
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - ./textlint:/work