aiofiles==0.6.0
autopep8==1.5.7
certifi==2021.10.8
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.7
click==7.1.2
cryptography==3.4.7
fastapi==0.65.1
h11==0.12.0
idna==3.3
Jinja2==3.0.0
MarkupSafe==2.0.0
pdfminer.six==20201018
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
python-multipart==0.0.5
requests==2.26.0
six==1.16.0
sortedcontainers==2.3.0
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.7
uvicorn==0.13.4
python-docx==0.8.11
