<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Top</title>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Technical Report Checker</h1>
        <p>アップロードされたPDFを自動でレビューします．</p>
        <input type="file" id="artifact" accept="application/pdf" enctype="multipart/form-data">
        <br>
        <button type="button" id="analyze">解析</button>
        <aside id="progress"></aside>
    </header>
    <br>
    <main id="result">
    </main>
    <script type="text/javascript">
        // ファイルを送信する関数
        async function postData(data = {}) {
            const url = '/api/v1/analysis';
            const options = {
                method: 'POST',
                body: data,
                headers: {
                    'Accept': 'application/json'
                }
            }
            return await fetch(url, options)
        }

        // tableを組み立てる関数
        function displayTable(dat) {
            // console.log(dat.result)
            // 結果の表示
            const table = document.createElement("table");
            const labels = [
                "message",
                "index",
                "line",
                "column",
                "severity",
                "ruleId"
            ];

            // 1行目
            let row = document.createElement("tr");
            labels.forEach(label => {
                const cellText = document.createTextNode(label);
                const cell = document.createElement("th");
                cell.appendChild(cellText);
                row.appendChild(cell);
            })
            table.appendChild(row);

            // 2行目以降
            const res = dat.result;
            Object.keys(res).forEach(key => {
                let row = document.createElement("tr");
                labels.forEach(label => {
                    const cell = document.createElement("td");
                    const cellText = document.createTextNode(res[key][label]);
                    // console.log(typeof(res[key][label]));
                    cell.appendChild(cellText);
                    row.appendChild(cell);
                });
                table.appendChild(row);
            });
            document.querySelector("#result").appendChild(table);
        }

        // ボタンのクリック
        const uploadFile = document.querySelector("#analyze");
        uploadFile.addEventListener("click", (event) => {
            // プログレスの変更
            document.querySelector("#progress").innerText = "解析しています...";

            // ファイルの取得
            const artifact = document.querySelector("#artifact");
            const formData = new FormData();
            formData.append("file", artifact.files[0]);

            // リクエストの送信
            const response = postData(formData)
                .catch(error => {  // リクエスト以前の例外(e.g. Network)
                    throw Error(error);
                })
                .then(response => {
                    if (response.ok) {
                        document.querySelector("#progress").innerText = "完了しました．";
                        return response.json();
                    } else {
                        document.querySelector("#progress").innerText = "失敗しました．";
                        throw Error('INVALID_STATU_CODE');
                    }
                })
                .then(data => displayTable(data))
        }, false);
    </script>
</body>

</html>
